<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="DownloadServiceSettings" type="Servion.RISL.Services.DataDownload.DownloadServiceSettings, RISLDataDownload" />
    <section name="FtpDirectorySettings" type="Servion.RISL.Services.DataDownload.FtpDirectorySettings, RISLDataDownload" />
  </configSections>
  <DownloadServiceSettings>
    <FtpSettings>
      <add Name="001" VxmlServer="Vxml1" FtpDirectorySetting="VxmlServer1" LoggerName="VxmlLogger" MaxThreadSleepTime="60" SleepTimeIncrement="2" IsActive="True" />
      <!--<add Name="002" VxmlServer="Vxml2" FtpDirectorySetting="VxmlServer2" LoggerName="VxmlLogger" MaxThreadSleepTime="60" SleepTimeIncrement="2" IsActive="True" />-->
    </FtpSettings>
  </DownloadServiceSettings>
  
  <FtpDirectorySettings>
    <DirectorySetting SettingName="VxmlServer1">
      <Folders>
        <Folder Name="Rec1" SourcePath="\\172.16.12.59\Shared Code\Test" SourceAccessMode="SharedFolderAccess" ServerIP="192.168.10.206" ServerPort="22" FtpUserId="cisco" FtpPassword="cisco" TargetPath="D:\RISL\CallData\Recovery" />
      </Folders>
    </DirectorySetting>
  
  </FtpDirectorySettings>
  <appSettings>
    <add key="ApplicationName" value="RISL_DATA_DOWNLOAD" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <log4net>
    <appender name="ServiceLog" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Serviont\RISL\SERVICE\RISLDataDownload\DownloadService.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1500KB" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c [%x] ID=%P{EventID} -  [%method] - %m%n" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="ServiceLog" />
    </root>
    <appender name="VxmlLog" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Serviont\RISL\SERVICE\RISLDataDownload\Vxml.Log" />
      <appendToFile value="true" />
      <maximumFileSize value="1500KB" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c [%x] ID=%P{EventID} -  [%method] - %m%n" />
      </layout>
    </appender>
    <logger name="VxmlLogger">
      <level value="ALL" />
      <appender-ref ref="VxmlLog" />
    </logger>
    <appender name="VxmlLog2" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Serviont\RISL\SERVICE\RISLDataDownload\Vxml2.Log" />
      <appendToFile value="true" />
      <maximumFileSize value="1500KB" />
      <maxSizeRollBackups value="5" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c [%x] ID=%P{EventID} -  [%method] - %m%n" />
      </layout>
    </appender>
    <logger name="VxmlLogger2">
      <level value="ALL" />
      <appender-ref ref="VxmlLog2" />
    </logger>
  </log4net>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>