<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="DataRecoveryServiceSettings" type="Servion.RISL.Services.DataRecovery.DataRecoveryServiceSettings, RISLFileReader"/>
    <section name="DataImportSettings" type="Servion.RISL.Utilities.DataImport.DataImportSettings, RISLDataParser"/>
  </configSections>
  <DataRecoveryServiceSettings>
    <FileReaderSettings>
      <add Name="RISLFileReader" ConnectionStringName="RISLConnStr" LoggerName="FileReaderLogger" RecoveryFolder="D:\RISL\CallData\Recovery" InvalidXmlFolder="D:\RISL\CallData\InvalidXml" InvalidDBRequestFolder="D:\RISL\CallData\InvalidDBRequest" WriteXmlToLog="False" MaxThreadSleepTime="30" SleepTimeIncrement="1" IsActive="True" />
    </FileReaderSettings>
  </DataRecoveryServiceSettings>
  <DataImportSettings>
    <AppImportSettings>
      <add ID="1" Name="IvrMain" XsdFile="IvrMainSchema.xsd" XsdValidationRequired="True" DataImportProcedureName="SP_SurveyParser_Import_CallData"
       DataImportStatusProcedureName="SP_SurveyParser_Update_CallData_Status" DataImportRequired="True"/>
    </AppImportSettings>
  </DataImportSettings>
  <connectionStrings>
   
    <add name="RISLConnStr" providerName="System.Data.SqlClient" connectionString="Server=172.20.6.225;Initial Catalog=RISL;User ID=sa;Password=Servion@123;"/>
  </connectionStrings>
  <appSettings>
    <add key="ApplicationName" value="RISL_FILE_READER"/>
    <add key="DataGetProcedureName" value="SP_SurveyParser_Get_CallData"/>
    <!-- Database Command Timeout in Seconds -->
    <add key="CommandTimeout" value="60"/>
    <!-- Maximum Time for File Recovery (in Hours) -->
    <add key="FileRecoveryMaxTime" value="24"/>
  </appSettings>
  <log4net>
    <appender name="ServiceLog" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Serviont\RISL\SERVICE\RISLFileReader\DataRecoveryService.Log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="4096KB"/>
      <maxSizeRollBackups value="5"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c [%x] ID=%P{EventID} -  [%method] - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="ALL"/>
      <appender-ref ref="ServiceLog"/>
    </root>
    <appender name="FileReaderLog" type="log4net.Appender.RollingFileAppender">
      <file value="C:\Serviont\RISL\SERVICE\RISLFileReader\FileReader.Log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="4096KB"/>
      <maxSizeRollBackups value="5"/>
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c [%x] ID=%P{EventID} -  [%method] - %m%n"/>
      </layout>
    </appender>
    <logger name="FileReaderLogger">
      <level value="ALL"/>
      <appender-ref ref="FileReaderLog"/>
    </logger>
  </log4net>
</configuration>